@charset "UTF-8";
/*
*	Общие стили
*/
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Bad+Script");
@import url("https://fonts.googleapis.com/css?family=Neucha");
:root {
  --containerWidth: 1250px; }

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  background-image: url("/image/bg.png");
  background-repeat: repeat;
  position: relative; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 -webkit-calc( 50% - 1250px / 2);
  padding: 0 calc( 50% - 1250px / 2);
  padding: 0 -webkit-calc( 50% - var(--containerWidth, 1250px) / 2);
  padding: 0 calc( 50% - var(--containerWidth, 1250px) / 2);
  height: 65px;
  background: #58a;
  color: #fff;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.6); }
  header a {
    text-decoration: none;
    color: #fff;
    font-size: 25px; }

[data-lang="en"] {
  display: inline-block;
  font-family: 'Indie Flower', 'Neucha', cursive; }
  [data-lang="en"] q {
    font-family: 'Indie Flower', 'Neucha', cursive;
    quotes: "\201C" "\201D"; }

[data-lang="ru"] {
  display: none;
  font-family: 'Indie Flower', 'Neucha', cursive; }
  [data-lang="ru"] q {
    font-family: 'Indie Flower', 'Neucha', cursive;
    quotes: "\00AB" "\00BB"; }

html:lang(ru) [data-lang="en"] {
  display: none; }

html:lang(ru) [data-lang="ru"] {
  display: inline-block; }

html:lang(en) [data-lang="ru"] {
  display: none; }

html:lang(en) [data-lang="en"] {
  display: inline-block; }

.arrow-to-top {
  width: 50px;
  height: 86px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  -webkit-border-radius: 10%;
          border-radius: 10%;
  cursor: pointer;
  -webkit-transform: translateY(1000px);
      -ms-transform: translateY(1000px);
          transform: translateY(1000px);
  overflow: hidden;
  z-index: 2;
  background-image: url("/image/arrow-to-top.png");
  background-size: cover;
  -webkit-transition: all 0.6s;
  transition: all 0.6s; }
  .arrow-to-top.active {
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px); }
  .arrow-to-top:hover {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.lang-select {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer; }
  .lang-select__label {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100px; }
  .lang-select__text {
    font-family: 'Indie Flower', cursive; }
  .lang-select__input {
    width: 44px;
    height: 20px;
    visibility: hidden;
    position: relative;
    vertical-align: middle;
    cursor: pointer; }
    .lang-select__input::before {
      content: "";
      width: 100%;
      height: 100%;
      -webkit-border-radius: 45% / 100%;
              border-radius: 45% / 100%;
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      visibility: visible;
      background-color: #ccc;
      z-index: 0; }
    .lang-select__input::after {
      content: "";
      display: inline-block;
      visibility: visible;
      width: 12px;
      height: 12px;
      margin-top: -1px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      z-index: 2;
      opacity: 0.99;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      padding: 5px;
      -webkit-box-shadow: inset 0 -.25em .5em -.125em #bbb;
              box-shadow: inset 0 -.25em .5em -.125em #bbb;
      background: -webkit-gradient(linear, left top, left bottom, from(#40c58a), to(#efefef)) content-box, -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#40c58a));
      background: -webkit-linear-gradient(#40c58a, #efefef) content-box, -webkit-linear-gradient(#fdfdfd, #40c58a);
      background: linear-gradient(#40c58a, #efefef) content-box, linear-gradient(#fdfdfd, #40c58a); }
    .lang-select__input:checked::after {
      -webkit-transform: translateX(100%);
          -ms-transform: translateX(100%);
              transform: translateX(100%); }

.container {
  width: 1250px;
  width: var(--containerWidth, 1250px);
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1); }
  .container ul li {
    list-style: none; }

p {
  display: block;
  width: 100%; }

p,
p b,
p a {
  font-family: 'Indie Flower', 'Neucha', cursive;
  padding: 10px 0;
  font-size: 18px; }

xmp {
  font-family: Calibri;
  border: 1px solid #ccc;
  background-color: #fff; }

/*
header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	ul {
		list-style: none;
		li {
			display: inline-block;

			a {
				text-decoration: none;
				color: #404040;
				padding: 10px 20px;

				&:hover {
					text-decoration: underline;
					color: #3EB2CF;
				}
			}

			&:not(:last-child) {
				border-right: 2px solid #3EB2CF;

			}

		}
	}
}
p {
	padding: 30px 0;
	color: #7b7979;
	font-size: 18px;
}
label {
	width: 48%;
	font-size: 22px;
	margin-bottom: 40px;
	span {
		display: block;
		margin-bottom: 10px;
	}
}
textarea, input {
	width: 100%;
	padding: 20px;
	border: 1px solid #B7B7B7;
	border-radius: 5px;
	font-size: 22px;
	box-shadow:inset 10px 10px 15px -12px rgba(0,0,0,0.2);
}
input {
	&[type="tel"] {
		width: calc(100% - 84px);
	}
}
textarea {
	resize: vertical;
}
footer {
	height: 115px;
	background-color: #fff;
}
*/
