header, nav, main {
	padding: 0 calc(50% - 425px)
}

.content {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.description h2 {
	font-size: 20px;
}

.top-news__item a {
	font-size: 16px;
}

.snippet__title {
	font-size: 18px;
}

.snippet__caption p {
	font-size: 18px;
}

.weather__location {
	font-size: 26px;
}
.weather__desc {
font-size: 20px;
}