<!-- -------------------------------------------------------------------------------- -->
<!-- Стрелка возврата к шапке страницы -->
<a href="#top" id="arrow-to-top" class="arrow-to-top scrolled"></a>
<!-- -------------------------------------------------------------------------------- -->
<script src="js/custom/scroll-to.js" defer></script>
<script src="js/custom/lang-select.js"></script>
<script src="js/custom/init_vue.js"></script>
<!-- -------------------------------------------------------------------------------- -->
<script>
    /*
     *   После загрузки всех всего DOM дерева со стилями, прелоадер скрывается
     **/
    (function(){
        document.addEventListener('DOMContentLoaded', function(){
            document.getElementById('loader').classList.add('animation');

            setTimeout(function () {
                document.getElementById('loader').style.display = "none";
            }, 300);
        })
    })();
</script>
<!-- -------------------------------------------------------------------------------- -->