<!-- -------------------------------------------------------------------------------- -->
<!--Изначально прелоадер скрыт, чтобы в случае если js не работает в браузере,
    у пользователя бесконечно прелоадер не крутился-->
<div id="loader" class="loader">
    <div class="loader-img"></div>
</div>
<script>
    (function(){
        document.getElementById('loader').style.display = "block";
    })();
</script>
<!-- -------------------------------------------------------------------------------- -->

<header id="top">
    <div class="lang-select">
        <label id="js-lang-select" class="lang-select__label">
            <span class="lang-select__text">Rus</span>
            <input type="checkbox" name="lang-select" class="lang-select__input" value="en" checked>
            <span class="lang-select__text">Eng</span>
        </label>
    </div>

    <a href="index.html" data-lang="ru">Библиотека компонентов</a>
    <a href="index.html" data-lang="en">Component library</a>
</header>