<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="manifest" href="manifest.json">

<!--На страницах будут подключаться скрипты и стили относящиеся к данной странице-->
<!--Также будут общие файлы-->

<!-- -------------------------------------------------------------------------------- -->
<!--Здесь указываются фавиконы для различных устройств-->
<link rel="icon" href="ico/favicon.png">
<link rel="shortcut icon" href="ico/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="256x256" href="ico/256-256.png">
<link rel="apple-touch-icon-precomposed" sizes="128x128" href="ico/128-128.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/72-72.png">
<link rel="apple-touch-icon-precomposed" sizes="64x64" href="ico/64-64.png">
<link rel="apple-touch-icon-precomposed" href="ico/favicon.png">
<!-- -------------------------------------------------------------------------------- -->

<!--Стили для прелоадера, он необходим чтобы пользователь не видел "голый" текст без стилей-->
<link rel="stylesheet" href="css/preloader.css">