* {
    margin: 0;
    padding: 0;
}

body {
    background-color:aquamarine;
}

h1 {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 35px;
}

.input {
    border: none;
    height: 23px;
    width: 140px;
    margin-top: 7px;
    padding-left: 6px;
    letter-spacing: 0.3px;
}

.input:focus {
    outline: none; 
}

.share {
    margin: 171px auto;
    height: 320px;
    width: 500px;
}

.emails-editor-container {
    /*max-height: 220px;*/
    padding: 32px 40px;
    background-color: #f5f5f5;
}

.emails-editor {
    height: 99px;
    width: 420px;
    border-top: 1px solid #cccccc;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

.archive {
    display: inline-block;
    margin-left: 8px;
    background-color: #d9e8ff;
    border-radius: 15px;
    padding: 3px 23px 3px 10px;
    margin-top: 7px;
    font-size: 15px;
}

.buttons {
    height: 100px;
    width: 100%;
    background-color: #fff;
}

button {
    border: none;
    border-radius: 1px;
    margin-top: 30px;
    margin-left: 40px;
    background-color: #6699ff;
    color: #fff;
    cursor: pointer;
}

.addEmail {
    padding: 8px 22px 7px 20px;
}

.getCount {
    padding: 8px 10px 7px 11px;
    margin-left: 16px;
}

.checkbox {
    cursor: pointer;
}

input[type=checkbox] {
    display: none;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 13px;
}
label:before {
	content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: -8px;
    left: 5px;
    background: url(../images/mark.png) no-repeat;
}

.error {
    background-color: #fff;
    border-bottom: 1px dotted red;
    border-radius: 0;
}